{

    "device_name": {{metric.fqdn}}
    "device_secureKey": {{config.securekey}}
    "1minute" : {{metric.load_1_minute}},
    "5minute" : {{metric.load_5_minute}},
    "15minute": {{metric.load_15_minute}}
    "num_cpu" : {{metric.num_cpu}}
    
}


