
{
    "DeviceName":  "{{metric.config.device_name}}", 
    "DeviceSecureID": "{{metric.config.device_secure_id}}",
    "DeviceKey": "{{metric.config.device_key}}",
    "Bag": {
        "1minute" : {{metric.load_1_minute}},
        "5minute" : {{metric.load_5_minute}},
        "15minute": {{metric.load_15_minute}},
        "num_cpu" : {{metric.num_cpu}}
    }         
}


